<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tamagotchi project</title>
</head>
<body>

<ul style="list-style-type:disc">
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/">Information</a></li>
    <li><a href="http://localhost:8080/nutritionstore">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trickcenter">Trick Center</a></li>
</ul>

<img src="https://raw.githubusercontent.com/green-fox-academy/teaching-materials/master/project/programmer-fox-club/assets/greenfox.png?token=Akc5beecPX5ErWg3hHo2kg-uzP-XVKwnks5bPf5_wA%3D%3D">
<p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 0 tricks.</p>

<h1>Known tricks</h1>
<p>John Snow.</p>

</body>
</html>