<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tamagotchi project</title>
</head>
<body>

<ul style="list-style-type:disc">
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/">Information</a></li>
    <li><a href="http://localhost:8080/nutritionstore">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trickcenter">Trick Center</a></li>
</ul>

<img src="https://orig00.deviantart.net/b2cf/f/2011/196/e/c/little__fox__animation__by_hyperchaotix-d3sv1s9.gif"/>
<p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows ' + ${trickCount} + ' tricks.'"></p>

<h1>Known tricks</h1>
<!--<ul style="list-style-type:disc">-->
<!--<li th:if="${#lists.isEmpty(tricks)}" th:text= "John Show"></li>-->
<!--<li th:unless="${#lists.isEmpty(tricks)}" th:each="trick : ${tricks}" th:text="${trick}"></li>-->
<!--</ul>-->

</body>
</html>