<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://wwww.thymeleaf.org">
    <title>Nutrition Store</title>
</head>
<body>
<ul style="list-style-type:disc">
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/">Information</a></li>
    <li><a href="http://localhost:8080/nutritionstore">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trickcenter">Trick Center</a></li>
</ul>


<td> Food
    <select id='food' name='food' autofocus >
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>2</option>
        <option value='4'>2</option>
        <option value='5'>2</option>
    </select>
</td>
<td> Drink
    <select id='drink' name='drink' autofocus >
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>2</option>
        <option value='4'>2</option>
        <option value='5'>2</option>
    </select>
</td>
<input type="submit" value="Change" />

</body>
</html>