<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://wwww.thymeleaf.org">
    <title>Nutrition Store</title>
</head>
<body>
<ul style="list-style-type:disc">
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/">Information</a></li>
    <li><a href="http://localhost:8080/nutritionstore">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trickcenter">Trick Center</a></li>
</ul>

<td> Food
    <select id='food' name='food' autofocus >
        <option th:each="food : ${foodList}" th:text="${food.name}"></option>
    </select>
</td>
<td> Drink
    <select id='drink' name='drink' autofocus >
        <option th:each="drink : ${drinkList}" th:text="${drink.name}"></option>
    </select>
</td>
<input type="submit" value="Change" />

</body>
</html>