<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Trick Center</title>
</head>
<body>
<ul style="list-style-type:disc">
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/">Information</a></li>
    <li><a href="http://localhost:8080/nutritionstore">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trickcenter">Trick Center</a></li>
</ul>

<td> Tricks
    <select id='trikcs' name='trikcs' autofocus >
        <option th:each="trick : ${trickList}" th:text="${trick.name}"></option>
    </select>
    <input type="submit" value="Learn" />

</td>
</body>
</html>