<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ToDos</title>
</head>
<body>

<h1> Todos </h1>

<form action="/add" method="post" th:object="${newTodo}">
    <label for="newTodo">Add new Todo: </label>
    <input id="newTodo" type="text" th:field="*{action}">
    <input type="submit" th:value="submit">
</form>

<div>
    <p></p>
</div>


<table class="tablelist">
    <thead>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>CREATED</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{action}"></td>
        <td th:text="*{done}"></td>
        <td th:text="*{urgent}"></td>
        <td>
            <form action="#" th:action="'/edit/' + *{id}" method="get">
                <input type="submit" th:value="Edit">
            </form>
        </td>
        <td>
            <form action="#" th:action="'/delete/' + *{id}" method="post">
                <input type="submit" th:value="Delete">
            </form>
        </td>
        <td th:text="*{createDateTime}"></td>
    </tr>
    </tbody>
</table>


<!--<form action="#" th:action="@{/add}" th:object="" method="post">-->
    <!--<div>-->
        <!--<input type="hidden" th:field="*{id}">-->
        <!--<label for="nameLb">Name: </label>-->
        <!--<input type="text" id="nameLb" name="attrName" th:field="*{attrName}" required>-->
    <!--</div>-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->


</body>
</html>